#hero {
  width: 100%;
}

#hero-content {
  display: flex;
  background-color: rgb(241, 239, 241);
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  /* position: relative; */
  /* border-radius: 8px; */
  /* top: 200px; */
}

#hero-content img {
  width: 800px;
  margin-left: 2rem;
  box-shadow: 2px 2px 8px rgb(68, 67, 67);
  border-radius: 10px;
}

#hero-card {
  margin: 4rem 0;
  /* background-color: rgba(225, 226, 216, 0.904); */
}

#hero-card h2 {
  /* padding: 0 0 3rem 0; */
  font-family: 'Bungee', sans-serif;
  font-size: 2rem;
  color: var(--color-grey-600);
}

#hero-card p {
  padding: 3.5rem 7rem;
  font-family: 'Roboto', sans-serif;
  font-size: .5rem;
}

#hero-card li {
  background-color: rgba(68, 67, 67, 0.521);
  color: rgb(241, 239, 241);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(107, 105, 107);
  padding: 1.5;
  margin: 0 4rem 0 4rem;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgb(68, 67, 67);
  
}
#hero-content h1{
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: sans-serif;
  margin: 0;
}

#hero-content p {
  color: black;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

#hero-content ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;

}
